* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

.container {
    margin-right: 100px;
    margin-left: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

header>div {
    width: 60px;
}

header img {
    width: 100%;
}

header ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    margin-left: 20px;
}

header ul a:hover {
    color: #f6ce64;
}

section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section .holder {
    width: 40%;

}

section .holder h2 {
    font-size: 40px;
    text-transform: uppercase;
}

section .holder p {
    font-size: 14px;
    color: #eee;
    margin: 20px 0;
}

section .holder button {
    padding: 9px 15px;
    border-radius: 6px;
    background-color: white;
    color: black;
    cursor: pointer;
}

section .hi {
    width: 30%;
}

section img {
    cursor: pointer;
    width: 180px;
}

footer {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

footer img {
    width: 50px;
    cursor: pointer;
    transition: .3s;
}

footer img:hover {
    transform: scale(1.2);
}

html {
    --gutterWidth: 16px;
    --scrollbarWidth: 0px;
    --windowWidth: calc(100vw - var(--scrollbarWidth));
    --layoutWidth: calc(var(--windowWidth) - var(--gutterWidth)*2);
    --layoutWidthMax: 1080px;
    --viewportWidthSmall: 375;
    --viewportWidthMedium: 600;
    --viewportWidthLarge: 1112;
    --viewportScale: calc(var(--windowWidth)/var(--viewportWidthLarge));
    --paddingTop: 160px;
    --paddingBottom: 160px;
    --columnPaddingNone: 0;
    --columnPaddingSmall: 8px;
    --columnPaddingNormal: 16px;
    --columnPaddingMedium: 16px;
    --columnPaddingLarge: 16px;
    --columnPaddingXLarge: 16px;
    --rowGapNormal: 8px;
    --rowGapMedium: 24px;
    --rowGapLarge: 32px;
    --rowGapXLarge: 64px;
    --rowGapXXLarge: 88px;
    --rowGap: var(--rowGapNormal);
    --columnCountMax: 1;
    --columnWidth: calc(var(--layoutWidth)/var(--columnCountMax));
    --columnMaxWidth: calc(var(--layoutWidthMax)*0.25);
    --copyMaxWidth: calc(var(--columnMaxWidth)*3);
}

.AnimatedIcon__icon {
    position: absolute;
    top: calc(var(--svgSize)*-1/2 - var(--iconSize)*-1/2);
    left: 0;
    display: block;
    pointer-events: none;
}

.MktRoot *,
.MktRoot :after,
.MktRoot :before {
    box-sizing: border-box;
}

user agent stylesheet svg:not(:root) {
    overflow-clip-margin: content-box;
    overflow: hidden;
}

.AnimatedIcon {
    --iconSize: 40px;
    --svgSize: 96px;
    width: var(--iconSize);
    height: var(--iconSize);
}

.Copy.variant--Detail {
    --titleFontSize: 15px;
    --titleLineHeight: 1.6;
    --titleWeight: var(--fontWeightSemibold);
    --titleLetterSpacing: 0.2px;
    --paragraphGap: 8px;
}

.Copy.variant--Detail,
.Copy.variant--Stat {
    --rowGap: var(--rowGapNormal);
    --titleBorderColor: var(--accentColor);
    --bodyFontSize: 15px;
    --bodyLineHeight: 1.6;
}

.Copy {
    --titleFont: var(--titleWeight) var(--titleFontSize)/var(--titleLineHeight) var(--fontFamily);
    --captionFont: var(--fontWeightBold) var(--captionFontSize, 18px)/var(--captionLineHeight, 1.555555556) var(--fontFamily);
    --bodyFont: var(--fontWeightNormal) var(--bodyFontSize, 18px)/var(--bodyLineHeight, 1.555555556) var(--fontFamily);
    letter-spacing: .2px;
}

.Copy {
    --paddingLeft: var(--columnPaddingNormal);
    --paddingRight: var(--columnPaddingMedium);
    --headerPaddingLeft: var(--paddingLeft);
    --headerPaddingRight: var(--paddingRight);
    --headerMaxWidth: var(--copyMaxWidth);
    --bodyPaddingLeft: var(--paddingLeft);
    --bodyPaddingRight: var(--paddingRight);
    --bodyMaxWidth: var(--copyMaxWidth);
    --footerPaddingLeft: var(--paddingLeft);
    --footerPaddingRight: var(--paddingLeft);
    --footerRowGap: var(--rowGapMedium);
    --ctaSpacing: 16px;
    --footerGap: "";
    scroll-margin-top: var(--fixedNavScrollMargin);
}

.ColumnLayout {
    --columnRowGap: var(--rowGapLarge);
    display: grid;
    row-gap: var(--columnRowGap);
    align-items: flex-start;
}

style attribute {
    --rowLayoutGap: var(--rowLayoutGapXLarge);
}

.RowLayout {
    --rowLayoutGapXSmall: 16px;
    --rowLayoutGapSmall: 24px;
    --rowLayoutGapNormal: 32px;
    --rowLayoutGapMedium: var(--rowLayoutGapNormal);
    --rowLayoutGapLarge: var(--rowLayoutGapNormal);
    --rowLayoutGapXLarge: var(--rowLayoutGapNormal);
    --rowLayoutGap: var(--rowLayoutGapLarge);
    display: grid;
    grid: auto/minmax(0, 1fr);
    row-gap: var(--rowLayoutGap);
    align-items: flex-start;
}


.flavor--Chroma.theme--Dark.accent--Cyan,
.flavor--Chroma.theme--Dark .accent--Cyan,
.flavor--Chroma .theme--Dark.accent--Cyan {
    --accentColor: #00d4ff;
}

.flavor--Chroma.accent--Cyan,
.flavor--Chroma .accent--Cyan {
    --accentColor: #02bcf5;
}

.flavor--Chroma.theme--Dark,
.flavor--Chroma .theme--Dark {
    --blendForeground: #7a73ff;
    --blendIntersection: #cff;
    --blendBackground: #00d4ff;
}

.flavor--Chroma {
    --blendBackground: #80e9ff;
    --blendIntersection: #0048e5;
    --blendForeground: #7a73ff;
    --gradientColorZero: #a960ee;
    --gradientColorOne: #ff333d;
    --gradientColorTwo: #90e0ff;
    --gradientColorThree: #ffcb57;
    --gradientColorZeroTransparent: rgba(169, 96, 238, 0);
    --gradientColorOneTransparent: rgba(255, 51, 61, 0);
    --gradientColorTwoTransparent: rgba(144, 224, 255, 0);
    --gradientColorThreeTransparent: rgba(255, 203, 87, 0);
    --shadeOneColor: #02bcf5;
    --shadeTwoColor: #0073e6;
    --shadeThreeColor: #003ab9;
    --shadeFourColor: #635bff;
    --shadeFiveColor: #002c59;
    --shadeSixColor: #09cbcb;
}

.theme--Dark {
    --backgroundColor: #0a2540;
    --linkColor: var(--accentColor);
    --linkHoverColor: #fff;
    --linkHoverOpacity: 1;
    --buttonColor: var(--accentColor);
    --buttonHoverColor: #fff;
    --buttonDisabledColor: #6b7c93;
    --buttonHoverOpacity: 1;
    --buttonDisabledOpacity: 0.7;
    --knockoutColor: #0a2540;
    --knockoutDisabledColor: #e6ebf1;
    --guideSolidColor: rgba(66, 71, 112, 0.3);
    --guideDashedColor: rgba(66, 71, 112, 0.3);
    --titleColor: #fff;
    --textColor: #adbdcc;
    --inputBackground: #0c2e4e;
    --inputBackgroundAlt: #274869;
    --inputPlaceholderColor: #b6c2cd;
    --inputTextColor: #fff;
    --inputErrorAccentColor: #ff5996;
    --annotationColor: #8c9eb1;
    --maskFadeColor: rgba(0, 0, 0, 0.4);
    --navColor: #fff;
    --navHoverColor: #fff;
    --navHoverOpacity: 0.6;
    --footerColor: #fff;
    --cardBorderColor: #0f395e;
    --cardBackground: #0c2e4e;
    --subcardBackground: #1f4468;
    --gridSubcardBackground: #1f4468;
    --tableIconColor: #8c9eb1;
    --stripeAccentWhite: #fff;
    --stripeAccentLight: #fff;
    --stripeAccentDark: #0c2e4e;
    --bulletColor: #6b7c93;
    --footnoteTextColor: #adbdcc;
    --disclaimerTextColor: #707f98;
    --inlineCodeTextColor: #fff;
    --inlineCodeBackground: #1c4161;
    --socialLogoColor: #707f98;
    --socialLogoHoverColor: #fff;
}

.Section--angleBoth {
    --sectionPaddingTop: var(--sectionAnglePaddingTop);
    --sectionAngle: var(--angleNormal);
}

.Section--angleBoth,
.Section--angleBottom {
    --sectionPaddingBottom: var(--sectionAnglePaddingBottom);
    --sectionMarginBottom: calc(var(--sectionAngleHeight)*-1);
}

.Section {
    --sectionAnglePaddingTopBase: calc(var(--sectionAnglePaddingBaseMin)*1px + (var(--sectionAnglePaddingTopBaseMax) - var(--sectionAnglePaddingBaseMin))*(var(--windowWidth)/737 - 0.50882px));
    --sectionAnglePaddingBottomBase: calc(var(--sectionAnglePaddingBaseMin)*1px + (var(--sectionAnglePaddingBottomBaseMax) - var(--sectionAnglePaddingBaseMin))*(var(--windowWidth)/737 - 0.50882px));
    --sectionPaddingTopGutterWidth: var(--gutterWidth);
    --sectionAnglePaddingTop: calc(var(--sectionAngleHeight) - var(--sectionAngleSin)*var(--sectionPaddingTopGutterWidth) + var(--sectionAnglePaddingTopBase));
    --sectionAnglePaddingBottom: calc(var(--sectionAngleHeight) - var(--sectionAngleSin)*var(--gutterWidth) + var(--sectionAnglePaddingBottomBase));
    --sectionPaddingTop: calc(var(--sectionPaddingMin)*1px + (var(--sectionPaddingTopMax) - var(--sectionPaddingMin))*(var(--windowWidth)/737 - 0.50882px));
    --sectionPaddingBottom: calc(var(--sectionPaddingMin)*1px + (var(--sectionPaddingBottomMax) - var(--sectionPaddingMin))*(var(--windowWidth)/737 - 0.50882px));
}

.Section {
    --sectionAngleSin: var(--angleNormalSin);
    --sectionAngle: 0;
    --sectionPaddingNormalMax: 128;
    --sectionPaddingSmallMax: 110;
    --sectionPaddingXSmallMax: 72;
    --sectionPaddingMin: 72;
    --sectionPaddingMax: var(--sectionPaddingNormalMax);
    --sectionPaddingTopMax: var(--sectionPaddingMax);
    --sectionPaddingBottomMax: var(--sectionPaddingMax);
    --sectionMarginBottom: 0;
    --sectionAngleHeight: calc(var(--windowWidth)*var(--sectionAngleSin));
    --sectionAnglePaddingBaseMin: 100;
    --sectionAnglePaddingBaseMax: var(--sectionPaddingMax);
    --sectionAnglePaddingTopBaseMax: var(--sectionAnglePaddingBaseMax);
    --sectionAnglePaddingBottomBaseMax: var(--sectionAnglePaddingBaseMax);
    --sectionAngleMaxHeight: none;
    --sectionOverflow: hidden;
    --sectionTransformOrigin: 100% 0;
    --sectionBackgroundOverflow: visible;
    position: relative;
    z-index: 1;
    margin-bottom: var(--sectionMarginBottom);
    color: var(--textColor);
    scroll-margin-top: calc(var(--fixedNavHeight) + var(--fixedNavSpacing) - var(--sectionPaddingTop));
}

.flavor--Chroma.accent--Blurple,
.flavor--Chroma .accent--Blurple {
    --accentColor: #635bff;
    --guideBackground: #5d69e3;
    --guideDarkColor: #4d5ae0;
    --guideLightColor: #6772e5;
    --guideLighterColor: #7a84e9;
    --guideLightestColor: #8d95ec;
}

.theme--Light {
    --backgroundColor: #f6f9fc;
    --linkColor: var(--accentColor);
    --linkHoverColor: #0a2540;
    --buttonColor: var(--accentColor);
    --buttonHoverColor: #0a2540;
    --buttonDisabledColor: #cfd7df;
    --buttonDisabledOpacity: 0.7;
    --knockoutColor: #fff;
    --knockoutDisabledColor: #8898aa;
    --guideSolidColor: rgba(66, 71, 112, 0.06);
    --guideDashedColor: rgba(66, 71, 112, 0.09);
    --titleColor: #0a2540;
    --textColor: #425466;
    --inputBackground: #e6ebf1;
    --inputPlaceholderColor: #8898aa;
    --inputTextColor: #0a2540;
    --inputErrorAccentColor: #ff5996;
    --annotationColor: #8c9eb1;
    --maskFadeColor: rgba(0, 0, 0, 0.4);
    --navColor: #0a2540;
    --navHoverColor: #0a2540;
    --navHoverOpacity: 0.6;
    --footerColor: #0a2540;
    --cardBorderColor: #cbd6e0;
    --cardBackground: #fff;
    --subcardBackground: #f6f9fc;
    --gridSubcardBackground: #fff;
    --tableIconColor: #8c9eb1;
    --stripeAccentWhite: #fff;
    --stripeAccentLight: #e3e7ec;
    --stripeAccentDark: #0a2540;
    --bulletColor: #cfd7df;
    --footnoteTextColor: #4d5b78;
    --disclaimerTextColor: #707f98;
    --inlineCodeTextColor: #2c3a57;
    --inlineCodeBackground: #dce6ee;
    --socialLogoColor: #c4ccd8;
    --socialLogoHoverColor: #0a2540;
}

.MktBody {
    margin: 0;
    font-family: var(--fontFamily);
    font-weight: var(--fontWeightNormal);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: var(--textColor);
    background: var(--backgroundColor);
}

style attribute {
    --scrollbarWidth: 17px;
}

.MktRoot {
    --fontFamily: "sohne-var", "Helvetica Neue", "Arial", sans-serif;
    --fontWeightLight: 200;
    --fontWeightNormal: 300;
    --fontWeightSemibold: 425;
    --fontWeightBold: 500;
    --systemFontFamily: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    --codeFontFamily: "SourceCodePro";
    --sourceCodeFont: 500 14px/1.714285714 var(--codeFontFamily);
    --ctaFont: var(--fontWeightSemibold) 15px/1.6 var(--fontFamily);
    --inputFont: var(--fontWeightNormal) 15px/1.6 var(--fontFamily);
    --cardShadowXSmall: 0 2px 5px -1px rgba(50, 50, 93, 0.25), 0 1px 3px -1px rgba(0, 0, 0, 0.3);
    --cardShadowSmall: 0 6px 12px -2px rgba(50, 50, 93, 0.25), 0 3px 7px -3px rgba(0, 0, 0, 0.3);
    --cardShadowMedium: 0 13px 27px -5px rgba(50, 50, 93, 0.25), 0 8px 16px -8px rgba(0, 0, 0, 0.3);
    --cardShadowLarge: 0 30px 60px -12px rgba(50, 50, 93, 0.25), 0 18px 36px -18px rgba(0, 0, 0, 0.3);
    --cardShadowLargeInset: inset 0 30px 60px -12px rgba(50, 50, 93, 0.25), inset 0 18px 36px -18px rgba(0, 0, 0, 0.3);
    --cardShadowXLarge: 0 50px 100px -20px rgba(50, 50, 93, 0.25), 0 30px 60px -30px rgba(0, 0, 0, 0.3);
    --cardShadowXSMallMargin: 2px;
    --cardShadowSmallMargin: 8px;
    --cardShadowMediumMargin: 16px;
    --cardShadowLargeMargin: 32px;
    --cardShadowXLargeMargin: 48px;
    --cardBorderRadius: 8px;
    --scrollbarOffset: 10px;
    --angleNormal: -6deg;
    --angleStrong: -12deg;
    --angleNormalSin: 0.106;
    --angleStrongSin: 0.212;
    --modalZIndex: 999999;
    --fixedNavHeight: 60px;
    --fixedNavSpacing: 48px;
    --fixedNavScrollMargin: calc(var(--fixedNavHeight) + var(--fixedNavSpacing));
    --hoverTransition: 150ms cubic-bezier(0.215, 0.61, 0.355, 1);
    --focusBoxShadow: 0 0 0 2px #4d90fe, inset 0 0 0 2px hsla(0, 0%, 100%, 0.9);
}


.MktRoot *,
.MktRoot :after,
.MktRoot :before {
    box-sizing: border-box;
}

.MktRoot *,
.MktRoot :after,
.MktRoot :before {
    box-sizing: border-box;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: white;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px 0;
}

header div {
    width: 60px;
}

header img {
    width: 100%;
}

header ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

header ul li {
    margin: 10px;
}

header ul a:hover {
    color: #f6ce64;
}

section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}

section .holder {
    width: 50%;
    min-width: 300px;
}

section .holder h2 {
    font-size: 30px;
    text-transform: uppercase;
}

section .holder p {
    font-size: 14px;
    color: #eee;
    margin: 20px 0;
}

section .holder button {
    padding: 9px 15px;
    border-radius: 6px;
    background-color: white;
    color: black;
    cursor: pointer;
}

section .hi {
    width: 40%;
    min-width: 250px;
}

section img {
    width: 100%;
    max-width: 200px;
    height: auto;
    cursor: pointer;
}

footer {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 20px;
}

footer img {
    width: 50px;
    cursor: pointer;
    transition: .3s;
}

footer img:hover {
    transform: scale(1.2);
}

/* Mobile Styles */
@media (max-width: 768px) {
    header {
        margin-bottom: 40px;
        padding: 0;
        flex-direction: column;
        align-items: center;
    }

    header ul {
        display: none;
    }


    section {
        flex-direction: column;
        text-align: center;
    }

    section .holder, section .hi {
        width: 90%;
    }

    footer {
        flex-wrap: wrap;
        gap: 5px;
    }

    footer img {
        width: 40px;
    }
}
